#main-tabs {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	position: relative;
}

.tiny-box-group {
	margin-top: 10px;
}

.tiny-box,
.graph-label {
	margin-right: 3px;
	padding: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #654b24;
	color: #fff;
}

.tiny-box {
	float: left;
}

.clear {
	clear: both;
}

.left-bar {
	float: left;
	width: 250px;
}

.btn {
	width: 100%;
	margin-top: 10px;
}

#graph {
	margin-top: 10px;
	float: left;
	padding: 0 0 0 10px;
}

.graph-bar {
	width: 0;
	height: 10px;
	margin-bottom: 10px;
	margin-left: 120px;
	background-color: #654b24;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	top: 10px;
}

.graph-label {
	width: 100px;
	margin-bottom: 3px;
	float: left;
}
